---
title: Contact page
body_class: contact-page

styles:
- assets/css/pages/contact.css

scripts:
- assets/js/pages/contact.js
---

<div class="st-content">
    <h1>Meet out team</h1>

    <div class="row">
        {{#each people }}
        <div class="col-sm-6 col-lg-3">
            <div class="card team-member mb-4">
                <img src="{{ avatar }}" alt="{{ name }}" class="card-img">
                <div class="card-body">
                    <h4>{{ name }}</h4>
                    <div>{{ email }}</div>
                </div>
            </div>
        </div>
        {{/each }}
    </div><!-- .row -->
</div>