<nav class="st-navbar">
    <ul class="st-nav">
        <li class="st-nav__item"><a href="/" class="st-nav__link">Home</a></li>
        <li class="st-nav__item"><a href="about.html" class="st-nav__link">About</a></li>
        <li class="st-nav__item"><a href="contact.html" class="st-nav__link">Contact</a></li>
    </ul>
</nav>