<aside class="st-sidebar">
    <ul class="st-menu">
        <li class="st-menu__item"><a href="#" class="st-menu__link">Page 1</a></li>
        <li class="st-menu__item"><a href="#" class="st-menu__link">Page 2</a></li>
        <li class="st-menu__item"><a href="#" class="st-menu__link">Page 3</a></li>
        <li class="st-menu__item"><a href="#" class="st-menu__link">Page 4</a></li>
    </ul>
</aside>